.mainHeader {
  font-size: 1.5rem;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .mainHeader {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .mainHeader {
    font-size: 1.5rem;
  }
}

.subText {
  font-size: 0.9rem;
  font-weight: 400;
}
